#home-page-wrapper {
  width: 100%;
  padding: 0vw 0vw;
}

#hero-section {
  display: flex;
  flex-direction: row;
  background: #111;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.hero-section-content {
  padding: 5vw 0vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 54vw;
}
.hero-section-content h2 {
  height: 18vh;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.1em;
  color: #fff;
}
.hero-section-content h2 span {
  background: linear-gradient(90deg, #ff5ca4, #5af3ff, #5f5eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hero-section-content p {
  font-family: "Segoe UI";
  font-size: larger;
  color: #fff;
}
.MuiContainer-root {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-sec-image {
  width: 46vw;
}
.hero-sec-image img {
  width: 100%;
  height: 80%;
}
.create-meal-plan-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 5vw;
  justify-content: center;
  height: 100vh;
  background: #111;
}
.create-meal-plan-div h2 {
  text-align: center;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}
#call-plan-div {
  height: 60vh;
  width: 60vw;
  border-radius: 15px;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border: 1px solid #ddd;
}

.MuiBox-root {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.download-app-section-wrapper {
  padding: 5vw 0vw;
  background-color: #eaefee;
}
.download-app-section-wrapper h2 {
  text-align: center;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}
.app-play-div {
  gap: 12vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.app-play-div img {
  width: 100%;
  height: 35vh;
}
